name: CI Build & Test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24.2
      - name: Build
        run: go build -v ./...
      - name: fmt
        run: gofmt -s -l -e .
